<mat-sidenav-container class="layout">
  <mat-sidenav 
    #sidenav 
    position="start" 
    mode="over" 
    class="sidenav"
    [opened]="sidenavOpened">
    
    <div class="sidenav__header">
      <button mat-icon-button (click)="toggleSidenav()" class="close-btn">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-nav-list class="sidenav__nav">
      <a mat-list-item routerLink="/auth/dashboard" routerLinkActive="active" (click)="closeSidenavOnMobile()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/auth/eventos" routerLinkActive="active" (click)="closeSidenavOnMobile()">
        <mat-icon matListItemIcon>event</mat-icon>
        <span matListItemTitle>Eventos</span>
      </a>
      <a mat-list-item routerLink="/auth/perfil" routerLinkActive="active" (click)="closeSidenavOnMobile()">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Perfil</span>
      </a>
    </mat-nav-list>

    <div class="sidenav__footer">
      <button mat-icon-button [matMenuTriggerFor]="themeMenu" class="theme-btn">
        <mat-icon>{{ themeService.selectedTheme()?.icon }}</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()" class="logout-btn">
        <mat-icon>logout</mat-icon>
      </button>
      <mat-menu #themeMenu="matMenu">
        @for (theme of themeService.getThemes(); track theme.name) {
          <button mat-menu-item [class.selected-theme]="themeService.selectedTheme()?.name === theme.name" (click)="themeService.setTheme(theme.name)">
            <mat-icon>{{ theme.icon }}</mat-icon>
            <span>{{ theme.name | titlecase }}</span>
          </button>
        }
      </mat-menu>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="layout__content">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="toggleSidenav()" class="menu-btn">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>