<mat-toolbar color="primary" class="navbar" role="navigation">
  <a [routerLink]="homeUrl" class="navbar__brand" aria-label="Home">
    <img src="logo-black.webp" alt="Logo" class="navbar__logo" />
  </a>

  <span class="navbar__spacer"></span>

  <ng-container *ngIf="!currentUser; else loggedIn">
    <a mat-button [routerLink]="loginUrl">Iniciar sesión</a>
    <a mat-stroked-button color="accent" [routerLink]="registerUrl">Registrarse</a>
  </ng-container>

  <ng-template #loggedIn>
    <a mat-raised-button color="accent" [routerLink]="dashboardUrl">
      Ir al panel
    </a>
  </ng-template>
</mat-toolbar>
